numpy 
pandas 
torch 
joblib
argparse
tqdm
matplotlib
scikit-learn
torchinfo
transformers
chronos-forecasting
huggingface-hub
datasets
peft
requests
open-clip-torch
einops
einops-exts
pyvim
openai
wfdb